@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


header nav ul li a {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;

}

section {
    min-height: 100vh;
    padding: 30px 0;
}


.card img {
    height: 200px;
    margin: 10px;
    max-width: 100%;
}

.navbar-brand img {
    width: 180px;
}

#banner {
    padding: 0;
    min-height: auto;
}

.navbar-brand img {
    width: 250px;
}

.btn.btn-primary {
    background-color: #E64A19;
    border-color: #E64A19;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;

}